<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="dotnetfx" />
  <package id="epicgameslauncher" />
  <package id="Firefox" />
  <package id="gimp" />
  <package id="git" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="googledrive" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="sshfs" />
  <package id="steam" />
  <package id="telegram" />
  <package id="telegram.install" />
  <package id="vcredist2008" />
  <package id="veracrypt" />
  <package id="visualstudio2022community" />
  <package id="visualstudio-installer" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="winfsp" />
  <package id="wireguard" />
</packages>